<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Logged User:<span th:text="${username}"></span></p>
    LANDING

    <p> activity is <span data-th-text="${boredlist.activity}"></span></p>
    <p> type is <span data-th-text="${boredlist.type}"></span></p>
    <p> participants is <span data-th-text="${boredlist.participants}"></span></p>
    <p> price is <span data-th-text="${boredlist.price}"></span></p>
    <p> key is <span data-th-text="${boredlist.key}"></span></p>
    <p> accessibility is <span data-th-text="${boredlist.accessibility}"></span></p>
</body>
</html>