<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <span th:text="${username}">Previous Activities</span> -->
    Always bored and looking for something to do? Look no further!
    Select the number of activities you like to view
    <!-- <form 
    action="#" 
    th:action="@{/mainpage}"
    th:object="${query}" 
    method="post">
    <p>Enter no of activities to display:  
        <input type="number" th:field="*{NUM_API_CALLS}" min="1" max="5"/>
        <input type="submit"  value="Enter"/> 
        <input type="reset" value="Reset"/></p>
    </form> -->

    <!-- <table>
        <thead>
        <tr class="table-dark">
          <th scope="col">activity</th>
          <th scope="col">key</th>
          <th scope="col">accessibility</th>
          <th scope="col">type</th>
          <th scope="col">price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="boredResult : ${boredlist}">
          <td th:text="${boredResult.activity}"></td>
          <td th:text="${boredResult.key}"></td>
          <td th:text="${boredResult.accessibility}"></td>
          <td th:text="${boredResult.type}"></td>
          <td th:text="${boredResult.price}"></td>
        </tr>
        </tbody>
    </table> -->

</body>
</html>